h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 84px;
}


.homeSlide h1 {
	font-weight: 900;
	color: #000000;
	font-size: 184px;
	text-transform: uppercase;
	text-align: center;
}

.homeSlide h4 {
	font-weight: 600;
	font-size: 32px;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
}

.keep-scrolling {
	min-height: 600px;
	background: url('../img/background-x.jpg');
}

.keep-scrolling h3 {
	font-weight: 900;
	font-size: 100px;
	color: #ffffff;
	text-align: left;
	padding-left: 5%;
	padding-top: 5%;

}

.container-fluid {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

.carousel-indicators li {
	display: none;
}


.carousel-control.right {
	background-image: none;}

.carousel-control.left {
	background-image: none;}


section {
	min-width: 960px;
	opacity: 0;
}

.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}
	.hsContent h2  {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/bcg_slide-1.png')}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}