h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 84px;
}


.hero {
	height: 100vh;
	background: url('/img/dotted-arrow-transparent-parallax.png');
}

.hero h1 {
	font-weight: 900;
	font-size: 184px;
	text-transform: uppercase;
	text-align: center;
}



.alert-primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}
